.ram{
    position:relative;
    
}
.img__play{

   width: 400px;
   height: 400px;
  
}
#w{
    padding-left: 30px;
    font-size: 14px;
}

.image1{
 
    display:flex;
  
    justify-content: space-evenly ;
}
.imagepa{
    text-align: center;
}
.heartbeats{
    padding-top: 2px;
    padding-left: 30px;
}
.parag{
    padding-top: 7px;
    padding-left: 30px;
    font-size: 18px;
}
.btn {
    height: 50px;
    
}
#head{
    color: rgb(80, 165, 198);
    padding-left: 30px;
    font-size: 18px;
}